<div style="text-align:center">
  <h1>
    Welcome to Vehicles CRUD!
  </h1>
</div>

<button type="button" class="btn btn-success" data-toggle="modal" data-target="#vehicleTypeModal">Add VehicleType</button>

<div>
  <table class="table">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let vehicleType of vehicleTypes">
      <th scope="row">{{vehicleType.id}}</th>
      <td>{{vehicleType.name}}</td>
      <td>{{vehicleType.description}}</td>
      <td>
        <button class="btn btn-primary" (click)="editVehicleType(vehicleType)" data-toggle="modal" data-target="#vehicleTypeModal">Edit</button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="deleteVehicleType(vehicleType)">Delete</button>
      </td>
    </tr>
  </table>
</div>

<!-- VehicleType Modal -->
<div class="modal fade" id="vehicleTypeModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="inputName">Name</label>
            <input class="form-control" id="inputName" name="inputName" placeholder="Name" [(ngModel)]="vehicleType.name">
          </div>
          <div class="form-group">
            <label for="inputDescription">Password</label>
            <input class="form-control" id="inputDescription" name="inputDescription" placeholder="Description" [(ngModel)]="vehicleType.description">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelVehicleType()">Cancel</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)=saveVehicleType(vehicleType)>Save</button>
      </div>
    </div>
  </div>
</div>